:root {
    --display-md-bold-font-family: "Lato-Bold", Helvetica;
    --display-md-bold-font-size: 36px;
    --display-md-bold-font-style: normal;
    --display-md-bold-font-weight: 700;
    --display-md-bold-letter-spacing: -0.36px;
    --display-md-bold-line-height: 139.9999976158142%;
    --gray-600: rgba(99, 99, 99, 1);
    --text-md-bold-font-family: "Lato-Bold", Helvetica;
    --text-md-bold-font-size: 16px;
    --text-md-bold-font-style: normal;
    --text-md-bold-font-weight: 700;
    --text-md-bold-letter-spacing: 0.5px;
    --text-md-bold-line-height: 139.9999976158142%;
    --text-md-regular-font-family: "Lato-Regular", Helvetica;
    --text-md-regular-font-size: 16px;
    --text-md-regular-font-style: normal;
    --text-md-regular-font-weight: 400;
    --text-md-regular-letter-spacing: 0.5px;
    --text-md-regular-line-height: 139.9999976158142%;
    --text-sm-bold-font-family: "Lato-Bold", Helvetica;
    --text-sm-bold-font-size: 14px;
    --text-sm-bold-font-style: normal;
    --text-sm-bold-font-weight: 700;
    --text-sm-bold-letter-spacing: 0.175px;
    --text-sm-bold-line-height: 139.9999976158142%;
    --text-sm-regular-font-family: "Lato-Regular", Helvetica;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-font-style: normal;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-letter-spacing: 0.175px;
    --text-sm-regular-line-height: 139.9999976158142%;
    --text-xs-regular-font-family: "Lato-Regular", Helvetica;
    --text-xs-regular-font-size: 12px;
    --text-xs-regular-font-style: normal;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-letter-spacing: 0.4000000059604645px;
    --text-xs-regular-line-height: 139.9999976158142%;
}
